/* body {
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
	
}

ul.navbar li {
	display: inline-block;
}

ul.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.navbar li a:hover {
	background-color: #111;
} */

html {
	scroll-behavior: smooth;
}

body {
	background: var(--gradient-secondary);
}

.outline {
	color: red;
	background: blue;
}

.border {
	border: 1px red solid;
}

.twenty img {
	width: 75%;
}

.list-unstyled li {
	display: inline;
}

span.bold {
	font-weight: 600;
	display: inline-block;
}

.signature {
	font-family: "Dancing Script", cursive;
	font-size: 1.75rem !important;
	margin: 0 auto;
}

hr {
	width: 75% !important;
}

.margin-zero {
	margin: 0 auto !important;
	border: 1px red solid;
}

/* START SCROLL BUTTON */

.scroll-down {
	position: absolute;
	/* position: relative; */
	/* bottom: 250px; */
	/* top: 10%; */
	top: 400px;
	left: 50%;
	transform: translateX(-50%);
}

.arrow {
	width: 40px;
	height: 40px;
	border: 2px solid var(--primary);
	border-radius: 50%;
	position: relative;
	margin: 0 auto;
	animation: scrollAnimation 1.5s infinite;
}

.arrow::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 12px;
	height: 12px;
	border-top: 2px solid var(--primary);
	border-right: 2px solid var(--primary);
	transform: translate(-50%, -50%) rotate(135deg);
}

@keyframes scrollAnimation {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	50% {
		transform: translateY(10px);
		opacity: 0.5;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/* END SCROLL BUTTON */

/* START TABLE */

table.tour-dates {
	border-collapse: collapse;
	padding: 5px;
	margin: 0 auto;
	background: linear-gradient(120deg, #c3338052, #4e12f135);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.083);
}

table.tour-dates th {
	padding: 5px;
	background: #bb13b5;
	color: var(--primary-invert);
	text-align: center;
	font-size: 1.5rem;
}

table.tour-dates td {
	/* border: 1px solid #b3adad7b; */
	padding: 5px;
	color: var(--primary-invert);
	font-size: 1.25rem;
}

table#dates {
	width: 100%;
	overflow-x: auto;
	border-radius: 10px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

td {
	/* border: 1px white solid; */
	text-align: right;
}

td.table-date {
	/* color: var(--primary); */
	color: var(--primary-invert);
	font-weight: 700;
	font-size: 2.5rem !important;
	max-width: 50%;
	text-align: left !important;
}

tr {
	outline: 1px rgba(0, 0, 0, 0.104) solid;
}

.table-loc {
	font-size: 1.5rem;
	text-align: right !important;
}

.table-loc span {
	font-size: 1.25rem;
}

.table-container {
	/* overflow-x: auto;  */
	/* Enable horizontal scrolling on small screens */
}

table {
	width: 100%;
	border-collapse: collapse;
}

td,
th {
	padding: 25px;
	/* display: inline-block; */
}

/* Apply responsive styles for smaller screens */
@media screen and (max-width: 600px) {
	table {
		/* display: block; */
		overflow-x: auto;
	}

	thead {
		/* display: flex; */
		flex-wrap: wrap;
	}

	th {
		flex: 1 0 auto;
		width: auto;
	}

	td.table-date {
		font-size: 1.25rem !important;
	}

	.table-loc span {
		font-size: 1rem;
	}

	td.table-loc {
		font-size: 0.75rem !important;
	}
}

/* END TABLE */

/* START PRICING TABLE */

table.pricing {
	border-collapse: collapse;
	padding: 5px;
	margin: 0 auto;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.083);
}

table.pricing th {
	padding: 5px;
	background: #bb13b5;
	color: var(--primary-invert);
	text-align: center;
	font-size: 1.5rem;
}

table.pricing td {
	border: 1px solid #b3adad7b;
	text-align: left;
	padding: 5px;
	background: white;
	color: #313030;
	font-size: 1.25rem;
}

@media screen and (max-width: 1600px) {
	table.pricing td.first {
		padding-left: 100px;
	}

	table.pricing td.second {
		padding-left: 40px;
	}

	table.pricing td.third {
		padding-left: 60px;
	}

	table.pricing td.fourth {
		padding-left: 90px;
	}
}

@media screen and (max-width: 1199px) {
	table.pricing td.first {
		padding-left: 35px;
	}

	table.pricing td.second {
		padding-left: 30px;
	}

	table.pricing td.third {
		padding-left: 40px;
	}

	table.pricing td.fourth {
		padding-left: 60px;
	}
}

@media screen and (max-width: 991px) {
	table.pricing td.first {
		padding-left: 25px;
	}

	table.pricing td.second {
		padding-left: 15px;
	}

	table.pricing td.third {
		padding-left: 50px;
	}

	table.pricing td.fourth {
		padding-left: 70px;
	}
}

@media screen and (max-width: 767px) {
	table.pricing td.first {
		padding-left: 25px;
	}

	table.pricing td.second {
		padding-left: 20px;
	}

	table.pricing td.third {
		padding-left: 30px;
	}

	table.pricing td.fourth {
		padding-left: 45px;
	}
}

@media screen and (max-width: 600px) {
	table.pricing td.first {
		padding-left: 25px;
	}

	table.pricing td.second {
		padding-left: 25px;
	}

	table.pricing td.third {
		padding-left: 30px;
	}

	table.pricing td.fourth {
		padding-left: 35px;
	}
}

@media screen and (max-width: 415px) {
	table.pricing td.first {
		padding-left: 10px;
	}

	table.pricing td.second {
		padding-left: 10px;
	}

	table.pricing td.third {
		padding-left: 20px;
	}

	table.pricing td.fourth {
		padding-left: 20px;
	}
}

table.age {
	border-collapse: collapse;
	padding: 5px;
	margin: 0 auto;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.083);
}

table.age th {
	padding: 5px;
	background: #bb13b5;
	color: var(--primary-invert);
	text-align: center;
	font-size: 1.5rem;
}

table.age td {
	border: 1px solid #b3adad7b;
	text-align: left;
	padding: 5px;
	background: white;
	color: #313030;
	font-size: 1.25rem;
}

@media screen and (max-width: 1600px) {
	table.age td.first {
		padding-left: 100px;
	}

	table.age td.second {
		padding-left: 100px;
	}
}

@media screen and (max-width: 1199px) {
	table.age td.first {
		padding-left: 75px;
	}

	table.age td.second {
		padding-left: 75px;
	}
}

@media screen and (max-width: 991px) {
	table.age td.first {
		padding-left: 180px;
	}

	table.age td.second {
		padding-left: 100px;
	}
}

@media screen and (max-width: 767px) {
	table.age td.first {
		padding-left: 110px;
	}

	table.age td.second {
		padding-left: 75px;
	}
}

@media screen and (max-width: 600px) {
	table.age td.first {
		padding-left: 100px;
	}

	table.age td.second {
		padding-left: 65px;
	}
}

@media screen and (max-width: 415px) {
	table.age td.first {
		padding-left: 60px;
	}

	table.age td.second {
		padding-left: 60px;
	}
}

table.adjudication {
	border-collapse: collapse;
	padding: 5px;
	margin: 0 auto;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.083);
}

table.adjudication th {
	padding: 5px;
	background: #bb13b5;
	color: var(--primary-invert);
	text-align: center;
	font-size: 1.5rem;
}

table.adjudication td {
	border: 1px solid #b3adad7b;
	text-align: left;
	padding: 5px;
	background: white;
	color: #313030;
	font-size: 1.25rem;
}

@media screen and (max-width: 1600px) {
	table.adjudication td.first {
		padding-left: 50px;
	}

	table.adjudication td.second {
		padding-left: 100px;
	}
}

@media screen and (max-width: 1199px) {
	table.adjudication td.first {
		padding-left: 40px;
	}

	table.adjudication td.second {
		padding-left: 65px;
	}
}

@media screen and (max-width: 991px) {
	table.adjudication td.first {
		padding-left: 90px;
	}

	table.adjudication td.second {
		padding-left: 110px;
	}
}

@media screen and (max-width: 767px) {
	table.adjudication td.first {
		padding-left: 40px;
	}

	table.adjudication td.second {
		padding-left: 75px;
	}
}

@media screen and (max-width: 600px) {
	table.adjudication td.first {
		padding-left: 40px;
	}

	table.adjudication td.second {
		padding-left: 65px;
	}
}

@media screen and (max-width: 415px) {
	table.adjudication td.first {
		padding-left: 15px;
	}

	table.adjudication td.second {
		padding-left: 35px;
	}
}

#gold {
	background: linear-gradient(
		50deg,
		rgb(254, 171, 27),
		gold,
		rgb(254, 171, 27)
	);
	color: var(--primary-invert);
	font-weight: bold;
}

#silver {
	background: linear-gradient(
		50deg,
		rgb(163, 163, 163),
		silver,
		rgb(163, 163, 163)
	);
	color: var(--primary-invert);
	font-weight: bold;
}

#bronze {
	background: linear-gradient(50deg, #cd7f32, #eba25a, #cd7f32);
	color: var(--primary-invert);
	font-weight: bold;
}

table.pricing td span.description {
	font-size: 1rem;
	font-style: italic;
	opacity: 0.7;
}

@media screen and (max-width: 600px) {
	table.pricing {
		border: 1px solid #b3adad7b;
		border-collapse: collapse;
		padding: 0;
		margin: 0 auto;
	}

	table.pricing th {
		background: var(--primary);
		color: var(--primary-invert);
		width: 200px;
		font-size: 1rem;
	}

	table.pricing td {
		background: #ffffff;
		color: #313030;
		font-size: 1rem;
	}

	table.pricing td span.description {
		font-size: 0.8rem;
	}
}

/* END PRICING TABLE */

:root {
	--primary: #bb13b5;
	--secondary: #1c1a1a;
	--primary-invert: #f7f7f7;
	--secondary-invert: linear-gradient(135deg, #292929, #212121);
	--gradient-primary: linear-gradient(230deg, #c33381, #4c12f1);
	--gradient-secondary: linear-gradient(
		90deg,
		#f7f7f7 #1c1a1a,
		#3f095e,
		#5b28ee
	);
	--text-primary: #f7f7f7;
	--elements-roundness: 100px;
	--space-between-blocks: 5.3rem;
	--space-between-blocks-small-screens: 3rem;
}

body {
	font-family: Poppins, sans-serif;
	color: var(--text-primary);
	background-color: var(--secondary);
	margin: 0;
	padding: 0;
}

.space-between-blocks {
	padding-top: var(--space-between-blocks-small-screens);
	padding-bottom: var(--space-between-blocks-small-screens);
}

@media (min-width: 992px) {
	.space-between-blocks {
		padding-top: var(--space-between-blocks);
		padding-bottom: var(--space-between-blocks);
	}
}

button {
	color: inherit;
	padding: 0;
	background: 0 0;
	border: none;
}

button:focus {
	outline: 0;
	box-shadow: none;
}

.btn {
	font-size: 0.87rem;
	padding: 0.9rem 1.6rem;
	border: none;
	border-radius: var(--elements-roundness);
	transition: 0.2s all;
}

@media screen and (min-width: 992px) {
	.btn {
		padding: 0.9rem 2rem;
		width: 25%;
		margin: 3rem;
	}
}

@media screen and (min-width: 601px) {
	.btn {
		padding: 0.9rem 1.5rem;
		width: 40%;
		margin: 1rem;
	}
}

@media screen and (max-width: 600px) {
	.btn {
		padding: 0.9rem 2rem;
		width: 75%;
		margin: 1.5rem;
	}
}

/* START REGISTER BUTTON */

.neon-button {
	position: relative;
	padding: 10px 20px;
	background-color: transparent;
	color: #fff;
	font-size: 16px;
	border: 2px solid #fff; /* White border */
	outline: none;
	cursor: pointer;
	transition: color 0.3s, border-color 0.3s, box-shadow 0.3s, border-radius 0.3s; /* Added border-radius transition */
	justify-content: end;
}

.neon-button::before {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	border-radius: inherit; /* Use the same border-radius as the button */
	border: 2px solid transparent;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s, border-color 0.3s;
}

.neon-button:hover {
	color: var(--text-primary);
	border-color: linear-gradient(
		230deg,
		#ac22c4,
		#4c12f1
	); /* Neon border on hover */
	box-shadow: 0 0 10px #4c12f1, 0 0 10px #4c12f1, 0 0 10px #ac22c4; /* Glow effect */
	text-decoration: none;
}

.neon-button:hover::before {
	border-image: var(--gradient-primary);
	border-image-slice: 1;
	opacity: 1;
}

.neon-button:active::before {
	box-shadow: 0 0 10px var(--gradient-primary);
}

/* END REGISTER BUTTON */

.glow-link {
	position: relative;
	z-index: 1;
}

.glow-link:hover {
	/* Apply styles for the link on hover */
	/* For example, you can add a glowing effect using box-shadow */
	filter: drop-shadow(0 0 5px #bd12f1);
	transition: filter 0.3s;
}

.glow {
	position: absolute;
	top: 0;
	left: 0;
}

/* START BLOCK-24 */

.block-24 {
	--block-background: var(--secondary);
	--block-text-color: var(--primary);
	background: var(--block-background);
	color: var(--block-text-color);
}

.block-24__logo {
	flex: 0 0 auto;
	padding: 25px;
	margin: 0;
	width: auto;
	height: auto;
}

.block-24__inverted {
	--block-background: var(--text-primary);
	--block-text-color: var(--primary);
	background: var(--block-background);
	color: var(--block-text-color);
}

.block-24__logo {
	flex: 0 0 auto;
	padding: 25px;
	margin: 0;
	width: auto;
	height: auto;
	font-weight: 600;
}

@media (max-width: 600px) {
	.block-24__logo {
		padding: 15px 25px;
	}
}

@media (min-width: 992px) {
	.block-24__logo {
		max-width: 300px;
		padding: 0 3rem;
		margin-top: 3rem;
		white-space: nowrap;
	}
}

input.form-control {
	background: #ffffffce;
}

#inputFName {
	color: var(--secondary);
}

/* END BLOCK-24 */

/* START JUDGE ADJUDICATION */

/*------------------------------*/
/*--Section Name----------------*/
/*------------------------------*/
.block-39 {
	--block-background: white;
	--block-text-color: var(--secondary);
	background: var(--block-background);
	color: var(--block-text-color);
}

.content-block {
	text-align: initial;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

@media (min-width: 992px) {
	.content-block {
		width: 90%;
		color: var(--secondary);
	}
}

.content-block__title {
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 1rem;
	line-height: 1.5;
	color: var(--primary);
}

.content-block__paragraph {
	font-size: 1rem;
	opacity: 0.9;
	line-height: 1.7;
}

/* END JUDGE ADJUDICATION */

.btn,
.btn:focus,
.btn:hover {
	border: none;
	box-shadow: none;
}

.btn:focus,
.btn:hover {
	transform: scale(1.05);
}

.btn-primary,
.btn-primary:focus,
.btn-primary:hover {
	background: var(--gradient-primary);
	color: var(--primary-invert);
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:hover {
	background: var(--primary-invert);
	color: var(--secondary-invert);
}

.btn-primary--empty,
.btn-primary--empty:focus,
.btn-primary--empty:hover {
	color: var(--primary);
}

.btn-sm {
	padding: 0.8rem;
}

.highlight {
	color: var(--primary);
}

.block__header {
	margin-bottom: 4rem;
}

.block__title {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.4;
	color: var(--secondary);
}

.block__title-inverted {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.4;
	color: var(--primary-invert);
}

h2.block__title {
	/* font-size: 3rem; */
	color: var(--secondary);
}

@media (min-width: 992px) {
	.block__title {
		font-size: 2.5rem;
		/* padding-right: 3rem; */
	}

	.block__title-inverted {
		font-size: 2.5rem;
		/* padding-right: 3rem; */
	}

	.block__title--big {
		font-size: 3rem;
		line-height: 1.1;
	}
}

@media (min-width: 1200px) {
	.block__title--big {
		font-size: 2rem;
		line-height: 1.2;
	}
}

.block__paragraph {
	font-size: 1.1rem;
	line-height: 1.5;
	opacity: 0.9;
	/* width: 90%; */
	color: var(--secondary);
}

@media (min-width: 992px) {
	.block__paragraph--big {
		font-size: 1rem;
		line-height: 1.6;
	}
}

.fr-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.04);
	margin-bottom: 1.5rem;
	transition: 0.5s;
}

.fr-icon--medium {
	font-size: 1.5rem;
	height: 3rem;
	width: 3rem;
}

.fr-icon--large {
	font-size: 1.2rem;
	height: 3.25rem;
	width: 3.25rem;
}

@media (min-width: 992px) {
	.fr-icon--large {
		height: 3.8rem;
		width: 3.8rem;
		font-size: 1.9rem;
	}
}

/* START NAVBAR */

.navbar {
	margin: 0 auto;
	padding: 0 5rem;
}

.navbar-brand {
	padding: 0.5rem 0;
}

button.neon-button a {
	color: var(--primary-invert);
	padding: 0.75rem 2rem;
}

a.nav-link:hover,
a.dropdown-item:hover {
	color: var(--primary) !important;
}

a.dropdown-item:hover {
	background-color: #1c1a1a50 !important;
}

a {
	/* color: var(--primary-invert) !important; */
	text-decoration: none !important;
}

.bg-light {
	background: #1c1a1ae9 !important;
	box-shadow: 0 5px 5px #1c1a1a47;
}

.justify-content-center {
	margin: 0 auto;
}

.nav-item {
	padding: 0 1.5rem;
}

.dropdown-menu {
	background: var(--secondary);
}

.dropdown-item {
	color: var(--primary-invert);
}

button.navbar-toggler {
	border: none;
	margin-right: -3rem !important;
}

@media (min-width: 601px) and (max-width: 991px) {
	.navbar {
		margin: 0 auto;
		padding-left: 0 4rem;
	}

	a > img {
		width: 50px;
		height: 50px;
		margin: 0 0 0 -2rem !important;
	}
}

@media screen and (max-width: 600px) {
	.navbar {
		margin: 0 auto;
		padding: 0 5rem;
	}

	a > img {
		width: 50px;
		height: 50px;
		margin: 0 0 0 -4rem !important;
	}

	button a {
		color: var(--primary-invert);
	}

	.bg-light {
		background: #1c1a1ae9 !important;
		box-shadow: none !important;
	}

	button.navbar-toggler {
		margin: 0.5rem -4rem 0.5rem 0 !important;
	}

	.neon-button {
		margin: 3rem 0 !important;
		padding: 0.75rem 1.5rem;
	}
}

/* END NAVBAR */

/* START HERO */

.hero {
	--hero-nav-height: 150px;
	--dropdown-background: #1c1a1a;
	--dropdown-text-color: var(--text-primary);
	--block-background: var(--secondary);
	--block-text-color: white;
	background: var(--secondary);
	color: var(--block-text-color);
	position: relative;
	display: flex;
	flex-direction: column;
}

.hero__row {
	height: 100%;
}

.hero_empty-column {
	height: 100%;
}

.hero__image-column {
	height: 100%;
	background-position: center;
	background-size: cover;
}

.hero__content {
	text-align: initial;
	height: 700px;
	/* margin-bottom: 25%; */
	max-width: 1140px;
}

.hero__body {
	/* padding-top: 2rem;
	padding-bottom: 3rem; */
	position: relative;
	top: 50%;
	z-index: 1;
}

.hero__title {
	font-size: 1.8rem;
	font-weight: bold;
	position: relative;
	top: 50%;
	/* transform: translateY(50%); */
	/* margin: 0 auto; */
}

.hero__paragraph {
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.7;
	opacity: 0.98;
}

.hero__btns-container {
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}

.hero__btns-container .btn {
	transform: scale(1.15);
}

.hero__video-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 700px;
	/* height: 600px; */
	z-index: 0;
	/* transform: scale(2);
	transform-origin: center; */
}

.hero__video-container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	opacity: 0.9;
}

.hero__video-container::before {
	content: "";
	position: absolute;
	/* position: relative; */
	/* padding-bottom: 56.25%; */
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	/* background: linear-gradient(45deg, #3f024bc5, transparent); */
	/* change hero overlay */
	z-index: 1;
}

video {
	position: relative;
	/* width: 115%; */
	/* height: auto; */
	left: 50%;
	transform: translateX(-50%);
	top: -25%;
}

@media screen and (min-width: 992px) {
	.hero__body {
		/* padding-top: 4rem;
		padding-bottom: 7rem; */
		position: relative;
		/* position: absolute; */
		/* transform: translateX(-50%);
		left: 50%; */
		top: 50%;
	}

	.hero__title {
		/* font-size: 2.5rem; */
		font-size: 6rem;
		line-height: 1.17;
		/* top: 50%; */
		/* left: 50%;
		transform: translate(-50%, -50%); */
		/* TURNED OFF DUE TO ANIMATE-TEXT */
	}
}

@media (min-width: 601px) and (max-width: 991px) {
	.hero__title {
		font-size: 5rem;
	}
}

@media (max-width: 600px) {
	.hero__title {
		font-size: 2rem;
		line-height: 1.17;
	}

	.hero__body {
		/* padding-top: 10rem; */
		position: relative;
		top: 50%;
	}

	.hero__paragraph {
		width: 80%;
		margin: auto;
	}

	.container-fluid {
		height: 700px;
	}
}

.hero__paragraph {
	font-size: 1.2rem;
	width: 75%;
}

@media screen and (min-width: 992px) {
	.hero__video-container {
		transform: none;
	}

	.hero__video-container img {
		width: 100%;
	}
}

/* START ANIMATION */

@keyframes appear-rise-drop {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	50% {
		opacity: 0.75;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-text {
	opacity: 0;
	animation: appear-rise-drop 0.75s ease-in-out forwards;
}

/* END ANIMATION */

/* END HERO */

@media (min-width: 500px) {
	.block-24__header {
		margin-bottom: 3rem;
	}
}

.block-24__title {
	font-size: 1.1rem;
	font-weight: 600;
	line-height: 1.4;
}

@media (min-width: 992px) {
	.block-24__title {
		font-size: 1.2rem;
	}
}

.block-24__logos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.block-24__img {
	height: 35px;
	max-width: 50%;
	max-height: 150px;
	opacity: 0.8;
	transition: 0.2s all;
	margin: 0 2rem;
	margin-bottom: 2rem;
	filter: brightness(0);
}

@media (max-width: 500px) {
	.block-24__img {
		max-width: 60%;
	}
}

@media (min-width: 768px) {
	.block-24__img {
		max-width: 36%;
	}
}

.block-24__img:focus,
.block-24__img:hover {
	opacity: 1;
}

.block-33 {
	--block-background: #f7f7f7;
	--block-text-color: var(--secondary);
	background: var(--block-background);
	color: var(--block-text-color);
}

.block__header {
	margin-bottom: 4rem;
}

.block-33__img-container {
	margin-top: 5rem;
	text-align: center;
}

.block-33__img {
	width: 100%;
	border-radius: 10px;
}

.block-33 h3 {
	font-weight: 600;
	font-size: 1.5rem;
}

.inline-h3 {
	font-weight: 700;
	font-size: 1.5rem;
	background: -webkit-linear-gradient(210deg, #ac22c4, #4c12f1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.block-8-scr {
	--space-between-blocks: 2rem;
	--space-between-blocks-small-screens: 0rem;
	--block-background: #f7f7f7;
	--block-text-color: #f7f7f7;
	background: var(--block-background);
	color: var(--block-text-color);
}

.block-8-scr__li {
	font-size: 1rem;
	font-weight: 600;
	opacity: 0.9;
	margin-bottom: 0.8rem;
}

.block-8-scr__li:last-child {
	margin-bottom: 0;
}

.plan-features__icon {
	width: 1.1rem;
	height: 1.1rem;
	color: #33c58d;
}

.block-8-scr__li-icon {
	color: #33c58d;
	transform: scale(1.5);
}

.block-8-scr__img {
	position: relative;
	z-index: 1;
	border-radius: 5px;
	background: 0 0;
}

.block-8-scr-scr-dots-svg {
	color: var(--primary);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 250px;
	height: 150px;
	transform: translate(-38px, 36px);
	clip-path: polygon(24% 62%, 100% 62%, 100% 100%, 0 100%, 0 0, 24% 0);
}

@media (min-width: 992px) {
	.block-8-scr-scr-dots-svg {
		transform: translate(-38px, 36px);
		clip-path: polygon(24% 62%, 100% 62%, 100% 100%, 0 100%, 0 0, 24% 0);
	}
}

.block-25 {
	--block-background: white;
	--block-text-color: var(--text-primary);
	background: var(--block-background);
	color: var(--block-text-color);
}

.block-25__header {
	margin-bottom: 4rem;
}

.block-25__title {
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.4;
}

@media (min-width: 992px) {
	.block-25__title {
		font-size: 3rem;
	}
}

.block-25__paragraph {
	font-size: 1.1rem;
	line-height: 1.5;
	opacity: 0.95;
	width: 90%;
}

.logos__img-container {
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.03);
	border: 2px solid #fff;
}

.logos__img {
	width: auto;
	max-width: 57%;
	max-height: 70%;
	margin: auto;
	transition: 0.2s all;
}

.block-61 {
	--block-background: var(--secondary);
	--block-text-color: var(--text-primary);
	background: var(--block-background);
	color: var(--block-text-color);
}

.block-61 h1 {
	color: var(--primary-invert);
}

.testimonial-card-1 {
	padding: 3rem 2.2rem 2.2rem 2.2rem;
	border-radius: 5px;
	position: relative;
	background: var(--primary-invert);
	box-shadow: 5px 5px 10px #f7f7f724;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.testimonial-card-1__paragraph {
	color: var(--secondary);
	font-size: 1.25rem;
	opacity: 0.9;
	line-height: 1.7;
	flex-grow: 1;
	padding-bottom: 1.5rem;
}

.testimonial-card-1__header {
	color: var(--primary);
	font-weight: bold;
	text-align: center;
}

li.testimonial-card-1__paragraph > span.age {
	font-size: 1.75rem;
	font-weight: 600;
}

li.testimonial-card-1__paragraph > span.age-description {
	font-style: italic;
	opacity: 0.6;
}

.testimonial-card-1__quote-symbol {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background: var(--gradient-primary, --primary);
	color: var(--primary-invert);
	font-size: 1.3rem;
	border-radius: 10rem;
	position: absolute;
	top: -25px;
	left: 30px;
}

@media screen and (max-width: 600px) {
	li.testimonial-card-1__paragraph > span.age {
		font-size: 1.25rem;
		font-weight: 600;
	}

	li.testimonial-card-1__paragraph > span.age-description {
		font-size: 1rem;
	}

	.testimonial-card-1__paragraph {
		padding-bottom: 1rem;
	}
}

/* .block-61-person {
	display: flex;
	align-items: center;
	margin-top: -1rem;
}

.block-61-person__avatar {
	width: 56px;
	height: 56px;
	border-radius: 10rem;
}

.block-61-person__rating {
	font-size: 0.75rem;
	color: #ffe200;
}

.block-61-person__name {
	font-size: 0.87rem;
	font-weight: 600;
}

.block-61-person__info {
	font-size: 0.87rem;
	opacity: 0.8;
} */

/* START RULES & REGULATIONS */

.rules-regs {
	--block-background: #f5f5f5;
	--block-text-color: var(--text-primary);
	background: var(--secondary);
	color: var(--block-text-color);
	padding-top: 4rem;
	padding-bottom: 0;
}

.rules-regs__title {
	font-size: 2.1rem;
	font-weight: 600;
}

.rules-regs__heading {
	font-size: 1.1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.rules-regs__item {
	/* margin-bottom: 1rem; */
	font-size: 1.25rem;
	line-height: 2rem;
	text-align: justify;
	padding-right: 1rem;
}

h4.rules-regs__title {
	text-align: right;
	color: var(--primary);
}

.description {
	font-size: 1rem;
	font-style: italic;
	opacity: 0.8;
}

@media (min-width: 601px) and (max-width: 991px) {
	h4.rules-regs__title {
		text-align: left;
		padding-left: 1rem;
	}

	.rules-regs {
		padding-top: 2rem;
	}

	.block-33 {
		padding-top: 2rem;
	}
}

@media (max-width: 600px) {
	h4.rules-regs__title {
		text-align: left;
		padding-left: 1rem;
	}

	.rules-regs {
		padding-top: 2rem;
	}

	.block-33 {
		padding-top: 2rem;
	}
}

/* END RULES & REGULATIONS */

.block-32 {
	--block-background: black;
	--block-text-color: var(--primary-invert);
	background: var(--block-background);
	color: var(--block-text-color);
}

.block__header {
	margin-bottom: 4rem;
}

.block__pre-title {
	color: var(--primary);
	font-size: 1rem;
	font-weight: 600;
}

/* START CONTACT */

.block-26 {
	--block-background: var(--secondary);
	--block-text-color: var(--primary-invert);
	background: var(--block-background);
	color: var(--block-text-color);
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	width: 75%;
}

.block-26 h2 {
	font-weight: bold;
	color: var(--primary);
}

.contact {
	border: 1px #393939 solid;
	border-radius: 0.5rem;
	border-color: linear-gradient(
		230deg,
		#ac22c4,
		#4c12f1
	); /* Neon border on hover */
	box-shadow: 0 0 10px #4c12f1, 0 0 10px #4c12f1, 0 0 10px #ac22c4; /* Glow effect */
	background: var(--secondary-invert);
	padding-top: 3rem;
	padding-bottom: 3rem;
}
/* END CONTACT */

/* START COMING SOON */

.text-right {
	text-align: right;
}

.purple-background {
	background: linear-gradient(230deg, #c33381, #4c12f1);
}

/* END COMING SOON */

/* START FOOTER */

.footer {
	--block-background: white;
	--block-text-color: var(--secondary);
	--text-primary: var(--block-text-color);
	background: var(--block-background);
	color: var(--block-text-color);
	font-size: 1rem;
	text-align: center;
}

.footer__logo-container {
	width: 100%;
	margin-bottom: 2.5rem;
	text-align: center;
	display: inline-block;
}

.footer__logo {
	height: auto;
	max-width: 35%;
}

.footer__list {
	display: flex;
	flex-wrap: wrap;
}

.footer__li-1 {
	font-weight: 600;
	margin-bottom: 0.6rem;
	margin: 0.9rem;
}

.footer__li-1::after {
	content: "";
	display: inline-block;
	width: 0;
}

.footer__link {
	color: var(--block-text-color);
}

.footer__link:focus,
.footer__link:hover {
	color: inherit;
	text-decoration: underline;
}

.footer__divider {
	margin: 2.4rem 0;
}

.footer__extra-links {
	justify-content: center;
}

.footer__copyrights {
	color: var(--text-primary);
	line-height: 1.7;
	font-size: 0.9rem;
}

.social li a i {
	margin: 2rem;
	font-size: 60px;
}

@media (min-width: 992px) {
	.footer {
		text-align: initial;
	}

	.footer__logo-container {
		width: 100%;
		flex-grow: 1;
		margin-bottom: 0;
	}

	.footer__li-1 {
		margin: 0;
	}

	.footer__li-1::after {
		width: 2.8rem;
	}

	.footer__li-1:last-child::after {
		width: 0;
	}
}

@media (min-width: 768px) {
	.footer__extra-links {
		justify-content: flex-start;
	}
}

@media screen and (max-width: 600px) {
	.footer__logo {
		height: auto;
		max-width: 60%;
	}

	.social li a i {
		margin: 1rem;
		padding-top: 1rem;
		font-size: 40px;
	}
}

/* END FOOTER */
